*.bin
*.hex
*.axf
*.elf
*.exe
*.pdb
*.idb
*.ilk
build
*~
*.o
*.a
*.o.d
*.lib
*.i
*.d
*.Opt
*.uvoptx
*.uvprojx
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.tra
*.dep     
     
JLinkLog.txt

*.iex
*.htm
*.sct
*.map
